body {
  background: #afc7be;
  text-align: center;
}

div.box,
h4 {
  text-align: left;
}

div.logo img {
  height: 300px;
}

div.title h1 {
  color: #fff;
  margin: 0;
  padding: 0;
}

div.fixed-footer {
  width: 100%;
  position: fixed;
  background: #333;
  padding: 30px 0;
  color: #fff;
}

div.header-clear {
  padding-top: 150px;
}

div.box {
  display: inline-block;
  padding: 40px;
  margin: 40px;
  background: #fff;
}

div.steps {
  display: inline-block;
  text-align: center;
}

div.step {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding: 30px;
}

div.start-button-container {
  text-align: center;
}

div.start-button {
  background: #ccc;
  font-size: 14pt;
  padding: 10px 20px;
  display: inline-block;
}

div.start-button:hover {
  text-decoration: underline;
}

form input[type="text"] {
  font-size: 14pt;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid #ddd;
  width: 300px;
  vertical-align: bottom;
}

form input[type="password"] {
  font-size: 14pt;
  margin-bottom: 5px;
  border: none;
  border-bottom: 2px solid #ddd;
  width: 200px;
  vertical-align: bottom;
}

form div.react-date-picker {
  margin-bottom: 5px;
}

form label {
  vertical-align: top;
  font-size: 14pt;
  //padding: 0 20px;
  // width: 150px;
  // display: inline-block;
  // text-align: right;
}

div.form-line {
  margin: 20px 0;
}

div.form-container {
  text-align: left;
}

input[type="submit"] {
  background: #ccc;
  font-size: 14pt;
  margin: 20px;
  padding: 10px 20px;
  display: inline-block;
}

input[type="submit"]:hover {
  text-decoration: underline;
}

form div.input-block {
  display: inline-block;
  text-align: left;
  width: 400px;
}

div.registrationLink {
  text-align: center;
  font-size: 14pt;
}

div.displayLink {
  padding: 10px;
}

div.registration-message {
  text-align: center;
  font-size: 14pt;
  width: 400px;
  margin: auto;
}

div.submit-container {
  text-align: left;
}

div.team-box,
div.profile-box {
  display: inline-block;
  font-size: 14pt;
  padding: 40px;
  margin: 40px;
  width: 500px;
  background: #fff;
  text-align: left;
  vertical-align: top;
}

div.team-box h2,
div.profile-box h2 {
  margin: 0;
}

ul {
  text-align: left;
}

li.team-list-item span {
  color: #55f;
  text-align: left;
}

img.plus-icon {
  width: 50px;
  height: 50px;
}

div.plus-icon-container,
div.submit-container {
  text-align: right;
}

span.team-edit-hover {
  float: right;
}

@media screen and (max-width: 800px) {
  form div.input-block {
    display: inline-block;
    text-align: left;
    width: auto;
  }
  form label {
    vertical-align: top;
    font-size: 14pt;
    padding: 0 20px 0 0;
    width: auto;
    display: inline-block;
    text-align: left;
  }
}
